<div>
    <h1>{{$ctrl.song.title}}</h1>
    <h2>{{$ctrl.song.group}}</h2>
    <!-- <a ui-sref = "app.profile.main({username: $ctrl.song.uploaded.username})">Test</a> -->

    <!-- <favorite-btn song = "$ctrl.song" class="pull-xs-right">{{$ctrl.song.favoritesCount}}</favorite-btn>
    <follow-btn user="$ctrl.song.uploaded" ng-hide="$ctrl.isUser"></follow-btn> -->

    <song-actions song = "$ctrl.song"></song-actions>

    <div show-authed="true">
        <list-errors from="$crl.commentForm.errors"></list-errors>
        <form class="card comment-form" ng-submit="$ctrl.addComment()">
          <fieldset ng-disabled="$ctrl.commentForm.isSubmitting">
            <div class="card-block">
              <textarea class="form-control"
                placeholder="Write a comment..."
                rows="3"
                ng-model="$ctrl.commentForm.body"></textarea>
            </div>
            <div class="card-footer">
              <img ng-src="{{::$ctrl.currentUser.image}}" class="comment-author-img" />
              <button class="btn btn-sm btn-primary" type="submit">
               Post Comment
              </button>
            </div>
          </fieldset>
        </form>
      </div>
      
    <comment ng-repeat = "cmt in $ctrl.comments" data = "cmt" delete-cb = "$ctrl.deleteComment(cmt.id, $index)"></comment>
</div>