@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#container-tagList {
    padding: 25px 150px;
}
.home-tittle {
    font-family: Staatliches;
    font-size: 48px;
}
.row-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.row-container .row-item {
    flex: 1 1 33%;
    padding: 25px 0;
}
.row-container .row-song {
    flex: 1 1 33%;
    max-width: 33%;
}

.navbar-brand {
    font-size: 2.5rem!important;
    color: #ffa200!important;
}